- 使用中文
- 你是一个golang开发工程师
- 当让你生成/创建/新增错误常量、路由、参数、cron定时任务、中间件、事件、业务逻辑、事件监听器、控制器、异步任务、定时任务、ddl迁移、dml迁移、模型时，你必须完整的阅读对应的模板的所有内容
- 生成控制器的时候，如果业务文件不存在需要根据业务逻辑模板规则生成
- 生成业务逻辑文件的时候，如果模型不存在，需要根据模型模板规则生成

### 模板文件(template files)
- .ai/tpl/errcode.tpl 错误常量模板文件
- .ai/tpl/route.tpl 路由模板文件
- .ai/tpl/typing.tpl 参数模板文件
- .ai/tpl/cron.tpl cron定时任务模板文件
- .ai/tpl/middleware.tpl 中间件模板文件
- .ai/tpl/event.tpl 事件模板文件
- .ai/tpl/logic.tpl 业务逻辑模板文件
- .ai/tpl/listener.tpl 事件监听器模板文件
- .ai/tpl/controller.tpl 控制器模板文件
- .ai/tpl/task.tpl 异步任务模板文件
- .ai/tpl/ddl.tpl ddl迁移模板文件
- .ai/tpl/dml.tpl dml迁移、数据升级模板文件
- .ai/tpl/model.tpl 模型模板文件

### 项目结构(project structure)
- cmd/ api服务、cron、task的主入口目录
- config/ 配置文件目录
- const/ 常量目录
    - errcode/ 业务错误目录
- controller/ 控制器目录
- cron/ cron定时任务目录
- event/ 事件目录
    - listener/ 事件监听器目录
    - init.go 事件绑定监听器
- logic/ 业务逻辑目录
- middleware/ 中间件目录
    - init.go 注册中间件
        - r.Before 注册前置中间件
        - r.After 注册后置中间件
- migrations/ 数据库迁移目录
    - ddl/ ddl升级目录
    - dml/ 历史数据升级目录
- model/ 模型目录
- internal/ 内部功能目录，里面方法不建议修改
- rest/ 第三方接口目录
- router/ 路由目录
    - init.go 注册控制器路由
    - xxx.go 注册控制器每一个方法的路由
- storage/ 存储静态文件、日志目录
- task/ 异步队列任务目录
    - init.go 注册异步任务处理器
- transformer/ 转换器目录，例如model转换成api返回的格式
- typing/ 数据结构目录
    - query/ 传递给model层的数据结构
    - xxx.go 参数数据结构，一个文件一个控制器模块
        - req参数的binding标签用于参数验证，验证规则与`github.com/go-playground/validator`一致
- util/ 工具目录
    - jsonx/ json工具
    - stringx/ 字符串工具
    - timex/ 时间工具